<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dynamic/css/vars.css">
    <link rel="stylesheet" href="/static/css/changelog.css">
    <link rel="stylesheet" href="/static/css/logo.css">
    <script src="/static/js/changelog.js" defer></script>
    <script src="/static/js/logo.js" defer></script>
    <title>Change Log</title>
</head>
<body>
    <div id="root">
        <header>
            <div class="logo_svg animate"></div>
            <h1>
                Change Log
            </h1>
        </header>
        <main>
            <div class="list">
            </div>
        </main>
    </div>
</body>
</html>