<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dynamic/css/vars.css">
    <link rel="stylesheet" href="/static/css/docs.css">
    <link rel="stylesheet" href="/static/css/logo.css">
    <script src="/static/js/docs.js" defer></script>
    <script src="/static/js/logo.js" defer></script>
    <title>Docs</title>
</head>
<body>
    <div id="root">

        <navbar>
            <button id="inside" class="hidden">
                |||
            </button>
            <ul id="list">
                <li id="Basic">
                    Basic Concepts
                </li>
                <li id="Opcodes">
                    Opcodes
                </li>
                <li id="Params">
                    Params
                </li>
                <li id="Aliases">
                    Aliases
                </li>
                <li id="Overview">
                    Overview
                </li>
                <li>

                </li>
            </ul>
            <div id="logo" class="logo_svg animate"></div>
        </navbar>
        <main>
            <button id="outside" class="hidden">
                |||
            </button>
            <section class="_Basic">
                <h2>
                    Basic Concepts                    
                </h2>
                <p>
                    Before continue to learn robson, first you need to understand concepts of
                    memory and stack, if you're ok with that skip that section.
                </p>
                <h2>
                    Stack
                </h2>
                <p>
                    The stack is basically an list of data that you access the top and adds to the top.<br>
                    Exmaple:
                </p>
                <p>
                    We have a 65 on the stack.
                </p>
                <div class="stack">
                    <span>
                        65
                    </span>
                </div>

                <p>
                    If we push 10 to the stack we will have:
                </p>

                <div class="stack">
                    <span>
                        65
                    </span>
                    <span>
                        10
                    </span>
                </div>
                <p>
                    We only can add to the top of the stack, not the bottom nor the middle.
                </p>
                <p>
                    If we pop that stack we will remove the top of it getting back only the 65.
                </p>
                <div class="stack">
                    <span>
                        65
                    </span>
                </div>

                <p>
                    Like adding, you can just remove the top of the stack.
                </p>
                <h2>
                    Memory
                </h2>
                <p>
                    The memory consists of data indexed by numbers like an vector/array.<br> 
                    Example:
                </p>
                <div class="memory">
                    <div>
                        <span class="address">
                           0 
                        </span>
                        <span class="value">
                            0
                        </span>
                    </div>
                    <div>
                        <span class="address">
                           1 
                        </span>
                        <span class="value">
                            0
                        </span>
                    </div>
                    <div>
                        <span class="address">
                           2 
                        </span>
                        <span class="value">
                            0
                        </span>
                    </div>
                </div>
                <p>
                    Unlike the stack, the memory you can read, add, and remove everything
                    (within the scope of your application)
                </p>
                <p>
                    So we can set the address 2 with the number 69, the memory will be as following
                </p>
                <div class="memory">
                    <div>
                        <span class="address">
                           0 
                        </span>
                        <span class="value">
                            0
                        </span>
                    </div>
                    <div>
                        <span class="address">
                           1 
                        </span>
                        <span class="value">
                            0
                        </span>
                    </div>
                    <div>
                        <span class="address">
                           2 
                        </span>
                        <span class="value">
                            69
                        </span>
                    </div>
                </div>
                <p>
                    If you set more than one time the same address you will replace its value
                </p>
                <p>
                    To there's no way that you can remove entirely the value of the memory, so 
                    you set it to 0 in order to remove it
                </p>

                <button>
                    Next                    
                </button>
            </section>
            <section class="_Opcodes hidden">
                <h2>
                    Opcodes
                </h2>
                <p>
                    The opcodes in robson are the numbers wich represents functions within the language,
                    opcodes are represented as the number of robson in one line.
                </p>
                <div class="code">
                    <span class="keyword">
                        robson robson robson
                    </span>
                </div>
                <p>
                    In the code above, we see 3 robsons, so we have the opcode 3, so we can see
                    what command does the opcode 3 do:
                </p>
                <h2>
                    List of opcodes
                </h2>
                <ol class="opcode_list">
                    <li>Operations like sum and subtraction</li>
                    <li>If lower jump</li>
                    <li>Push to stack</li>
                    <li>If equal jump</li>
                    <li>Verify stack jump</li>
                    <li>User input</li>
                    <li>Print ascii</li>
                    <li>Print number</li>
                    <li>Jump</li>
                    <li>Set to memory</li>
                    <li>Pop stack</li>
                    <li>Get string buffer</li>
                </ol>
                <p>
                    Every opcode has a different number of params varying between 0 and 3
                </p>
                <button>
                    Next                    
                </button>
            </section>
            <section class="_Params hidden">
                <h2>
                    Params
                </h2>
                <p>
                    Params are data that you pass for commands, they can originate for bascially anywhere, from the memory, 
                    from the stack or more commonly, hardcoded
                </p>
                <div class="code">
                    <span class="keyword"> robson robson rosbon </span>
                    <span> comeu <span class="literal">94</span> </span>
                </div>
                <p>
                    In the example above, the "comeu" keyword is saying that the value is hardcoded number, 
                    for representing floating points ou signed ints, use a f{number} and i{number}, respectively  
                </p>
                <p>
                    Now lets dive in a more complex code
                </p>

                <div class="code">
                    <span class="keyword">
                        robson robson robson
                    </span>
                    <span>comeu <span class="literal">f12.6</span></span>
                    <span class="keyword"> robson robson robson robson robson robson robson robson robson robson</span>
                    <span>comeu <span class="literal">0</span></span>
                    <span class="keyword">robson</span>
                    <span>comeu <span class="literal">0</span></span>
                    <span>fudeu <span class="literal">0</span></span>
                    <span>comeu <span class="literal">f1.1</span></span>
                    <span class="keyword">robson robson robson robson robson robson robson robson</span>
                </div>
                <p>
                    In this example we are settings the value 12.6 into the address 0,
                    then adding the value 1.1 and value from address 0, for the finale
                    printing it to the screen
                </p>
                <p>
                    Now let's go through this bit by bit
                </p>
                <p>
                    In the first command we're adding 12.6 to the stack
                </p>
                <p>
                    In the seccond we're setting setting the top of the stack 
                    to the address 0
                </p>
                <p>
                    For the third, we see a "fudeu", fudeu basically is equivalent of the value
                    from the address specified, in that case address 0.
                    In this command we're adding the two last parameters and pushing to stack the result
                </p>
                <p>
                    The last command just print the number to the screen
                </p>

                <p>
                    Although robson doesn't have proper pointers, you can access data through data
                    with the penetrou keyword, example:
                </p>

                    
                <div class="code">
                    <span class="keyword">
                        robson robson robson
                    </span>
                    <span>comeu <span class="literal">12</span></span>
                    <span>comeu <span class="literal">69</span></span>
                    <span class="keyword">robson robson robson robson robson robson robson robson robson robson</span>
                    <span>comeu <span class="literal">1</span></span>
                    <span class="keyword">robson robson robson robson robson robson robson robson robson robson</span>
                    <span>comeu <span class="literal">0</span></span>
                    <span class="keyword">
                        robson robson robson
                    </span>
                    <span>comeu <span class="literal">1</span></span>
                    <span class="keyword">robson robson robson robson robson robson robson robson robson robson</span>
                    <span>comeu <span class="literal">4</span></span>
                    <span class="keyword">
                        robson robson robson
                    </span>
                    <span>penetrou <span class="literal">4</span></span>
                    <span class="keyword">robson robson robson robson robson robson robson robson</span>
                </div>
                <p>
                    In this example the memory will look like:
                </p>
                <div class="memory">
                    <div>
                        <span class="address">0</span>
                        <span class="value">12</span>
                    </div>
                    <div>
                        <span class="address">1</span>
                        <span class="value">69</span>
                    </div>
                    <div>
                        <span class="address">2</span>
                        <span class="value">0</span>
                    </div>
                    <div>
                        <span class="address">3</span>
                        <span class="value">0</span>
                    </div>
                    <div>
                        <span class="address">4</span>
                        <span class="value">1</span>
                    </div>
                </div>
                <p>
                    So when we write penetrou 4
                   whe mean the value in the address that the value in address 4 points,
                   the address being 1 and the value 69 
                </p>
                <p>
                    Worth mention the "chupou" keyword, it is used when you wanna
                    pass a value from the stack to a param,
                    normally used as "chupou 0", but you colud use other numbers 
                    to reach into the stack, but its highly insecure, <span class="literal">!!It doesnt pop from the stack!!</span>
                </p>
                <button>Next</button>
            </section>
            <section class="_Aliases hidden">
                <h2>
                    Aliases
                </h2>
                <p>
                    A lot of times, you wanna jump around in your program, and using the lines as an argument
                    may not be such an effective method, so robson has aliases,
                    aliases are names that you choose for the program to remember certain parts of your program
                    instead of hardcoding its location
                </p>
                <p>
                    Example: 
                </p>

                <div class="code">
                    <span class="keyword">robson robson robson</span>
                    <span>comeu <span class="literal">69</span></span>
                    <span class="keyword">robson robson robson robson robson robson robson robson robson </span>
                    <span>lambeu <span class="alias">:alias</span></span>
                    <span class="keyword">robson robson robson robson robson robson robson</span>
                    <span class="alias">alias:</span>
                    <span class="keyword">robson robson robson robson robson robson robson robson</span>
                </div>
                <p>
                    In this example in the seccond command, we jump to the position of the alias,
                    completely skiping the third command. this could easly be solved without an alias with
                </p>
                <div class="code">
                    <span class="keyword">robson robson robson</span>
                    <span>comeu <span class="literal">69</span></span>
                    <span class="keyword">robson robson robson robson robson robson robson robson robson </span>
                    <span>comeu <span class="literal">6</span></span>
                    <span class="keyword">robson robson robson robson robson robson robson</span>
                    <span class="keyword">robson robson robson robson robson robson robson robson</span>
                </div>
                <p>
                    On the surface this seems better code, as it has less lines, 
                    but this code is not maintainable, couse if you for some reason
                    add more lines of code before that, the code is gonna be on undefined behavior
                    since we dont know what could be in line 6
                </p>
                <p>
                    This is the end of the guide on Robson, if you wanna an overview of the 
                    language commands continue
                </p>
                <button>Next</button>
            </section>
            <section class="_Overview hidden">
                <h2>
                    Overview
                </h2>
                <ol>
                    <li>
                        <h4>Operations: </h4>
                        <p>
                            Has tree params, the first is the operation and the other two are the values, exmaples:
                        </p>
                        <p>
                            Sum:
                        </p>
                        <div class="code">
                            <span class="keyword">robson</span>
                            <span>comeu <span class="literal">0</span></span>
                            <span>comeu <span class="literal">2</span></span>
                            <span>comeu <span class="literal">4</span></span>
                        </div>
                        <p>
                            Subtraction:
                        </p>
                        <div class="code">
                            <span class="keyword">robson</span>
                            <span>comeu <span class="literal">1</span></span>
                            <span>comeu <span class="literal">5</span></span>
                            <span>comeu <span class="literal">4</span></span>
                        </div>
                        <p>
                            Multiplication:
                        </p>
                        <div class="code">
                            <span class="keyword">robson</span>
                            <span>comeu <span class="literal">2</span></span>
                            <span>comeu <span class="literal">2</span></span>
                            <span>comeu <span class="literal">3</span></span>
                        </div>
                        <p>
                            Division:
                        </p>
                        <div class="code">
                            <span class="keyword">robson</span>
                            <span>comeu <span class="literal">3</span></span>
                            <span>comeu <span class="literal">8</span></span>
                            <span>comeu <span class="literal">2</span></span>
                        </div>
                    </li>
                    <li>
                        <h4>If lower jump</h4>
                        <p>
                            Has three params, if the first param is lower than the seccond jump to third param 
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson</span>
                            <span>comeu <span class="literal">1</span></span>
                            <span>comeu <span class="literal">4</span></span>
                            <span>lambeu <span class="alias">:some_alias</span></span>
                        </div>
                    </li>
                    <li>
                        <h4>Push to the stack</h4>
                        <p>
                            Has one parameter, push its param to the stack, it has a
                            handy syntax simplification on multiple push, example:
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson robson</span>
                            <span>comeu <span class="literal">10</span></span>
                            <span class="keyword">robson robson robson</span>
                            <span>comeu <span class="literal">65</span></span>
                        </div>
                        <p>
                            Can be written as:
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson robson</span>
                            <span>comeu <span class="literal">10</span></span>
                            <span>comeu <span class="literal">65</span></span>
                        </div>
                    </li>
                    <li>
                        <h4>
                            If equal     
                        </h4>
                        <p>
                            Has three  params, is the first param is equal to the third param, jump to third param, example:
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson robson robson</span>
                            <span>comeu <span class="literal">10</span></span>
                            <span>comeu <span class="literal">10</span></span>
                            <span>lambeu <span class="alias">:some_alias</span></span>
                        </div>
                    </li>
                    <li>
                        <h4>Verify stack and jump</h4>
                        <p>
                            Has one parameter, if the stack is empty jump to the param, example:
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson robson robson robson</span>
                            <span>lambeu <span class="alias">:some_alias</span></span>
                        </div>
                    </li>
                    <li>
                        <h4>Input user</h4>
                        <p>
                            Has three parameters, first the location to store the data, 
                            seccond its type (0 text, 1 integer), 
                            third the limit that can be supplied for the user
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson robson robson robson robson</span>
                            <span>comeu <span class="literal">0</span></span>
                            <span>comeu <span class="literal">0</span></span>
                            <span>comeu <span class="literal">100</span></span>
                        </div>
                    </li>
                    <li>
                        <h4>
                            Print ASCII
                        </h4>
                        <p>
                            Has no parameter, print the top of the stack as ascii, example:
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson robson</span>
                            <span>comeu <span class="literal">65</span></span>
                            <span class="keyword">robson robson robson robson robson robson robson</span>
                        </div> 
                    </li>
                    <li>
                        <h4>
                            Print Number
                        </h4>
                        <p>
                            Has no parameter, print the top of the stack as a number, example:
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson robson</span>
                            <span>comeu <span class="literal">65</span></span>
                            <span class="keyword">robson robson robson robson robson robson robson robson</span>
                        </div> 
                    </li>
                    <li>
                        <h4>
                            Jump
                        </h4>
                        <p>
                            Has one parameter, jump to the location of its parameter, exmaple:
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson robson robson robson robson robson robson robson</span>
                            <span>lambeu <span class="alias">:some_alias</span></span>
                        </div>
                    </li>
                    <li>
                        <h4>
                            Set to memory
                        </h4>
                        <p>
                            Has one parameter, set the top of the stack to the address of its parameter 
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson robson</span>
                            <span>comeu <span class="literal">69</span></span>
                            <span class="keyword">robson robson robson robson robson robson robson robson robson robson</span>
                            <span>comeu <span class="literal">0</span></span>
                        </div>
                    </li>
                    <li>
                        <h4>
                            Pop stack
                        </h4>
                        <p>
                            Has no parameter
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson robson robson robson robson robson robson robson robson robson</span>
                        </div>
                    </li>
                    <li>
                        <h4>
                            Load string
                        </h4>
                        <p>
                            Has one parameter, read the memory values from address of parameter until '\0', and adds it to stack in reverse
                        </p>
                        <div class="code">
                            <span class="keyword">robson robson robson robson robson robson robson robson robson robson robson robson</span>
                            <span>comeu <span class="literal">0</span></span>
                        </div>
                    </li>
                </ol>
            </section>
        </main>
    </div>
</body>
</html>