<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/guide.css">
    <script src="/static/guide.js" defer></script>
    <title>Guide</title>
</head>
<body>
    <div id="root">
        <navbar>
            <img id="logo" src="/static/Robson.png" >
            <ul id="list">
                <li id="Download">Download</li>
                <li id="Setting">Setting up</li>
                <li id="Getting">Getting Started</li>
            </ul>
        </navbar>
        <main>
            <section class="_Download">
                <h2>
                    Download
                </h2>
                <p>
                    Download based on your operating system
                </p>
                <a class="download" download="windows.zip" href="/static/windows.zip">
                    Windows Executable
                </a>
                <a class="download" download="linux.zip" href="/static/linux.zip">
                    Linux Binary
                </a>
                <a class="download" href="/">
                    Macos ????????
                </a>
                <p>
                    After the download extract the zip
                </p>
            </section>
            <section class="_Setting">
                <h2>
                    Setting up
                </h2>
                <h3>
                    Windows
                </h3>
                <p>
                    First hit windows key and search edit environment variables
                </p>
                <p>
                    Then click edit on path variable 
                </p>
                <img src="/static/part1.jpeg">

                <p>
                    After that click new and adds the path to the robson.exe 
                </p>

                <img src="/static/part2.jpeg" />

                <p>
                    if something wasn't clear, try searching for environment variables in windows
                </p>
                
                <h3>
                    Linux
                </h3>

                <p>
                    Run the command below inside the place you downloaded the file, it will copy the robson binary and put it in the binaries folder                   
                </p>

                <div class="code">
                   $ sudo cp robson /usr/bin
                </div>

                <h3>
                    MacOs
                </h3>
                <p>
                    cry
                </p>
                <h3>
                    Test installation
                </h3>
                <p>
                    Test the installation with
                </p>
                <div class="code">
                    $ robson file_that_doesnt_exists
                </div>
                <p>
                    if you get an error of it not being a .robson, you did it
                </p>
            </section>
            <section class="_Getting">
                <h2>
                    Getting started
                </h2>
                <p>
                    To start of create a main.robson, then write the following
                </p>
                <div class="code left">
                    robson robson robson<br>
                    comeu 65<br>
                    robson robson robson robson robson robson robson<br>
                </div>
                <p>
                    The first line has 3 robsons, so it is the push command.<br>
                    The push command has 1 param, number params are normally written with 
                    comeu {number}.<br>
                    The push command adds the value of param1 to the stack.<br>
                    <br>
                    At the third line we have 7 robsons, so it is the print command<br>
                    The print command has no params<br>
                    The print command removes the top of the stack and prints it as ascii<br>
                    <br>
                    The result of this code is a "A" with no newline since 65 is equal to A
                </p>
                <a class="end" href="/docs" >
                    Is willing to learn robson, read the docs here
                </a>
            </section>
        </main>
    </div>
</body>
</html>