<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dynamic/css/vars.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/logo.css">
    <script src="/static/js/logo.js" defer ></script>
    <script src="/static/js/index.js" defer></script>
    <title>Robson</title>
</head>
<body>
    <div id="root">
        <header>
            <div class="logo_svg animate" > </div>
            <ul class="navbar" >
                <li><a href="/docs.robson">Docs</a></li>
                <li><a href="https://github.com/gabireugabiru/robson" target="_blank">Repository</a></li>
                <li><a href="/guide.robson">Install</a></li>
                <li><a href="/interpreter.robson">Try robson</a></li>
                <li><button id="theme"><div></div></button></li>
            </ul>
        </header>
        <main>

            <div class="presentation">
                <h1>
                    Robson <span>v0.1.5</span> 
                </h1>
                <p>
                    Robson is a vision of the future of the verbose driven instant legacy code 
                    style. It has heavy inspirations in java, by repeating the same thing over 
                    and over, but has also the procedural nature of assembly and HolyC              
                </p>
            </div>
            <div class="curves"></div>
            <div class="why">
                <h2>
                    Why Robson?
                </h2>
                <div>
                    <section>
                        <h3>
                            Advantages
                        </h3>
                        <div class="advantages">
                            As today it comes to solve to problem of doing things too fast,
                            as to solve it robson creates a lot of redundant and repetetive code 
                            wich may seem bad at first but if you think about it, more time you
                            spend coding more money you will make (in case of hourly payments)
                        </div>
                    </section>
                    <section>
                        <h3>
                            Where to use
                        </h3>
                        <div class="shines">
                            robson is made to be used in cli application with focus on
                            control of input, where as the security of the robsons runtime
                            prevent as much as all io errors
                        </div>
                    </section>
                    <section>
                        <h3>
                            Future
                        </h3>
                        <div class="future">
                            Robson is a really new programming language and has a lot of to
                            go for, but its growing fast, with features coming frequently, feel 
                            free to contribute <a class="highlight" target="_blank" href = "https://github.com/gabireugabiru/robson">here</a>
                        </div>
                    </section>
                </div>
            </div>
            <div class="curves reverse"></div>
        </main>
        <footer>
            <div>
                Thanks for supporting the growing robson ecosystem, hope you had a good time with us 
                <div class="thumbs"></div>
            </div>
            <div class="robson">
                A special thanks to Robson
                <img class="robson" src="/static/robson_real.jpeg">
            </div>
 
        </footer>
    </div>

</body>
</html>