<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dynamic/css/vars.css">
    <link rel="stylesheet" href="/static/css/logo.css">
    <link rel="stylesheet" href="/static/css/interpreter.css">
    <script src="/static/js/logo.js" defer></script>
    <title>Mãe do renan</title>
</head>

<body>
    <div id="root">
        <header>
            <div id="logo" class="logo_svg animate"> </div>
            <a href="/docs">
                Learn robson here
            </a>
        </header>
        <div id="syntax">
            <div id="formated">

            </div>
            <div contenteditable spellcheck="false" id="code">

            </div>
        </div>
        <div class="row">
            <div>
                <button id="run">Run</button>
                <div id="status" class="finished">Finished</div>
            </div>
            <div>
                <button id="reset">Reset</button>
                <input type="text" id="stdin">
                <button id="enter">Enter</button>
            </div>
        </div>
        <div id="output">

        </div>
    </div>
    <script type="module" src="/static/js/interpreter.js" ></script>
</body>
</html>