* {
    box-sizing: border-box;
    font-family: "Alfa Slab One", serif;
}
body {
    margin: 0;
    background: var(--primary-background);
    overflow-x: hidden;
    color: var(--default-color);
}
#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    border-bottom: 1px solid var(--main-border-color);
}

div.logo_svg {
    width: 50px;
    height: auto;
    cursor: pointer;
}
h1 {
    color: var(--l-primary-color);
    font-size: 2rem;
    font-weight: bolder;
}
main {
    display: flex;
    justify-content: center;
}
div.list {
    width: 100%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

div.version > span.version_header {
    display: flex;
    align-items: center;
    /* border-top: 1px solid var(--main-border-color); */
}
div.version > span.version_header > span.line {
    background: var(--main-border-color);
    width: 100%;
    height: 1px;
}

div.version > span.version_header > h3 {
    margin: 1rem;
    font-size: 2rem;
}

div.version > span.version_header > span.extend {
    color: green;
    font-size: 2rem;
    margin-left: 5px ;
    cursor: pointer;
}

div.version > span.version_header > span.extend.hide {
    margin-bottom: 5px;
    color: red;
}


@keyframes extend {
    from {
        opacity: 0%;
        height: 0px;
        overflow: hidden;
    }
    to {
        opacity: 100%;
        height: 300px;
        overflow: hidden;
    }
}
@keyframes dextend {
    from {
        opacity: 100%;
        height: 300px;
        overflow: hidden;
    }
    to {
        opacity: 0%;
        height: 0px;
        overflow: hidden;
    }
}

div.log.hide {
    opacity: 0%;
    height: 0px;
    overflow: hidden;
}
div.log.animate {
    animation: 200ms extend;
}
div.log.hide.animate {
    animation: 200ms dextend;
}
div.log {
    overflow: auto;
    opacity: 100%;
    height: 300px;
    background: var(--secondary-color);
    padding: 1rem;
    border-radius: 1rem;
}


div.features {
    display: flex;
    flex-direction: column;
    padding: .7rem;
}
div.features > div.feature + div.feature {
    margin-top: .4rem;
}

div.changes {
    display: flex;
    flex-direction: column;
    padding: .7rem;
}
div.changes > div.change + div.change {
    margin-top: .4rem;
}
h4 {
    font-size: 1.7rem;
    margin: .3rem;
}