* {
    box-sizing: border-box;
    font-family: "Alfa Slab One", serif;
}
body {
    margin: 0;
    background: var(--primary-background);
    overflow-x: hidden;
    color: var(--default-color);
}
#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#theme {
    background: none;
    position: relative;
    border: none;
    width: 5rem;
    height: 2.5rem;
    background: var(--secondary-color);
    border-radius: 2rem;
}
#theme > div {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    position: absolute;
    top : calc((2.5rem - 2.3rem) / 2);
}
#theme.white > div {
    background: #eee;
    left: 2px;
    animation: left 500ms;
}
#theme.dark > div {
    background: #0d0218;
    left: calc(100% - 2.3rem - 2px);
    animation: right 500ms;
}
@keyframes left {
    from {
        background: #0d0218;
        left: calc(100% - 2.3rem - 2px);
    }
    to {
        background: #eee;
        left: 2px;
    }
}
@keyframes right {
    from {
        background: #eee;
        left: 2px;
    }
    to {
        background: #0d0218;
        left: calc(100% - 2.3rem - 2px);
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    border-bottom: 1px solid var(--main-border-color);
}
ul.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.navbar > li {
    font-size: 2rem;
}
ul.navbar > li + li  {
    margin-left: 4rem; 
}
div.logo_svg {
    width: 100px;
    height: auto;
}
a {
    font-weight: bold;
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--l-primary-color);
}
a:hover {
    color: var(--d-primary-color); 
    text-shadow: 0 0 7px var(--text-shadow);
}



a.highlight {
    color: var(--highlight);
}
div.presentation {
    display: flex;
    flex-direction: column;
}
div.presentation > p {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    max-width: 70%;
}
div.presentation > h1 {
    font-size: 6rem;
    text-align: center;
    font-family: Helvetica, sans-serif;
}
div.presentation > h1 > span {
    font-size: 3rem;
    font-weight: lighter;
    color: var(--d-primary-color);
}
div.why {
    position: relative;
    width: 100vw;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 8rem 2rem;
}
div.why > h2 {
    padding-top: 5rem;
    font-size: 5rem;
    color: var(--highlight);
}
div.why > div{
    margin-top: 4rem;
    justify-content: center;
    display: flex;
}
div.why > div > section {
    text-align: justify;
    width: 30%;
    font-size: 1.7rem;
    margin: 0 3%;
    color: var(--secondary-text);
}
div.why > div > section > h3 {
    font-size: 4rem;
    text-align: center;
}
footer {
    padding: 8rem;
    font-size: 2rem;

}
footer > div {
    display: flex;
    align-items: center;
}
footer > div > div.thumbs {
    margin-top: 2rem;
}
footer > div > div.thumbs > svg {
    width: 5rem;
    height: 5rem;
}
footer > div > div.thumbs > svg path {
    stroke: var(--default-color);
    fill: var(--default-color);
}
div.robson {
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: bolder;
    flex-direction: column;
    text-align: center;
}
img.robson {
    width: 128px;
    margin: 1rem 2rem 20px 2rem;
    border-radius: 1rem;
}
div.curves {
    display: block;
    width: 100vw;
    margin-top: 15rem;
    /* margin-left: -13px; */
    margin-bottom: -10px;
}
div.curves > svg > g > path{
    fill: var(--secondary-color);
    width: 100vw;
}
div.curves.reverse {
    transform: rotate(180deg);
    margin-top: -10px;
    margin-left: 0;
}
@media only screen and (max-width: 1100px) {

    html {
        font-size: 75%;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
@media only screen and (max-width: 900px) {
    main > div.why > div {
        flex-direction: column;
    }
    main > div.why > div > section {
        width: 100%;
        margin: 0;
    }
}
@media only screen and (max-width: 771px) {
    
    html {
        font-size: 60%;
    }

    header > ul {
        flex-direction: column;
        padding: 0;

    }
    header > ul.navbar > li {
        font-size: 3rem;
    } 
    header > ul.navbar > li + li {
        margin-left: 0;
        margin-top: 1rem;
    }
    footer > div {
        flex-direction: column;
    }
    
}