* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#root {
    width: 100%;
    height: 100vh;
}

#logo {
    cursor: pointer;
    height: 100%;
}

#code {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    caret-color: #fff;
    color: transparent;
    outline: none;
    overflow-y: auto;
}

#syntax {
    width: 100%;
    height: calc(70vh - 75px);
    background: #242824;
    position: relative;
}


#formated {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    color: white;
    background: transparent;
    word-wrap: break-word;
    overflow-y: hidden;
}

#output {
    width: 100%;
    height: calc(30vh - 50px);
    background: #242824;
    white-space: pre-line;
    color: white;
    font-size: 1.7rem;
    padding: 10px;
    overflow: auto;
}

header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.2);
    align-items: center;
}
a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--l-primary-color);
    transition: color 200ms;
}
a:hover {
    color: var(--d-primary-color); 
}

.row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.row > div > div {
    font-size: 2rem;
    font-weight: bolder;
    display: grid;
    place-items: center;
    margin-left: 10px;
}
.row > div {
    display: flex;
    height: 100%;
}
.row > div:first {
    width: 30%;
}
.row > div:last-child {
    width: 60%;
}
.row > div > button {
    height: 100%;
    width: 100px;
    border: none;
    color: white;
    font-size: 1.5rem;
    background: var(--l-primary-color);
    cursor: pointer;
    transition: background 200ms;
}
.row > div > button:hover {
    background:var(--d-primary-color);
}
.row > div > input {
    width: 100%;
    height:100%;
    border: none;
    border-left: 1px solid rgba(0,0,0,.2);
    outline: none;
    font-size: 2rem;
}
.row > div >input:focus {
    border-bottom: 3px solid var(--l-primary-color);
}
.keyword {
    color: #e127e1;
}
.literal {
    color: #dba035;
}

.alias {
    color: #5ddad4;
}
.alias > span {
    color: #5ddad4;
}
.running {
    color: #078c07;
}
.type {
    color: #e5c07b;
}
.finished {
    color: #f42222;
}
.waiting {
    color: #f0b906;
}
@media only screen and (max-width: 1100px) {
    html {
        font-size: 75%;
    }
}
@media only screen and (max-width: 550px) {
    html {
        font-size: 50%;
    }

}